/* BANNER */
.banner{
    width              : 100%;
    height             : 100vh;
    max-height         : 768px;
    background-image   : url('../img/banner.jpg');
    background-position: center;
    background-size    : cover;
}
.banner-opacity{
    width           : 100%;
    height          : 100%;
    background-color: rgba(0,0,0,0.5);
    /* display            : flex;
    align-items        : center;
    justify-content    : center; */
    display         : grid;
    place-items     : center;
    padding-top     : 90px;
}
.banner-detail{
    padding: 10px;
}
.banner-detail h2{
    text-transform: uppercase;
    color         : #fff;
}
.banner-detail p{
    margin-bottom: 16px;
    color        : #ddd;
}
.banner-detail a{
    display        : inline-block;
    padding        : 10px 20px;
    color          : #fff;
    background: linear-gradient(to right,#831843,#be185d);
    border         : none;
    border-radius  : 5px;
    text-decoration: none;
    font-weight    : bold;
    margin-top     : 10px;
}
.banner-detail a:hover{
    background: linear-gradient(to right,#be185d,#ec4899);
}
.banner-video{
    width        : 100%;
    height       : auto;
    object-fit   : cover;
    border-radius: 15px;
    display      : none;
}
.banner-video::-webkit-media-controls{
    display: none;
}
.banner-video::-webkit-media-controls-enclosure{
    display: none;
}
.banner-video::-webkit-media-controls-panel{
    display: none;
}
@media (min-width: 768px){
    .banner-video{
        display: block;
    }
}